@import url(css.css);

        body {
            overflow-x: hidden;
            font-family: Montserrat, Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.4;
            color: #333
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-transform: uppercase
        }

        h1 {
            font-size: 2.5rem
        }

        h2 {
            font-size: 2rem
        }

        h3 {
            font-size: 2.2rem
        }

        h4 {
            font-size: 1.8rem
        }

        h5 {
            font-size: 1.6rem
        }

        h6 {
            font-size: 1.2rem
        }

        p {
            font-size: 1.6rem
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box
        }

        html {
            font-size: 10px
        }

        body,
        html {
            width: 100%;
            height: 100%
        }

        body {
            min-width: 320px;
            background: #fff;
            z-index: 0
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0
        }

        .clearfix:after {
            content: "";
            display: block;
            clear: both
        }

        .btn,
        .transition {
            transition: all .25s ease
        }

        img {
            max-width: 100%;
            height: auto;
            display: block
        }

        .main {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1
        }

        .heartsbox {
            width: 6.2rem;
            bottom: 0;
            left: 0
        }

        .heart,
        .heartsbox {
            display: inline-block;
            position: absolute
        }

        .heart {
            color: #fdf5e6;
            bottom: .5rem;
            right: 2.8rem;
            -webkit-animation-name: a;
            animation-name: a;
            -webkit-animation-duration: 4s;
            animation-duration: 4s;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite
        }

        .anim1 {
            -webkit-animation-delay: 1s;
            animation-delay: 1s;
            font-size: 2rem
        }

        .anim2 {
            -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
            font-size: 1rem
        }

        .anim3 {
            -webkit-animation-delay: .5s;
            animation-delay: .5s;
            font-size: 3rem
        }

        .anim4 {
            -webkit-animation-delay: 1.9s;
            animation-delay: 1.9s;
            font-size: 2.5rem
        }

        @-webkit-keyframes a {
            0% {
                right: 2.8rem
            }

            20% {
                color: #ff69b4;
                right: 1rem
            }

            40% {
                right: 5rem
            }

            50% {
                right: 3rem
            }

            60% {
                right: 4rem
            }

            70% {
                right: 2rem
            }

            80% {
                right: 4.5rem
            }

            90% {
                right: 5rem
            }

            to {
                bottom: 40rem;
                opacity: 0
            }
        }

        @keyframes a {
            0% {
                right: 2.8rem
            }

            20% {
                color: #ff69b4;
                right: 1rem
            }

            40% {
                right: 5rem
            }

            50% {
                right: 3rem
            }

            60% {
                right: 4rem
            }

            70% {
                right: 2rem
            }

            80% {
                right: 4.5rem
            }

            90% {
                right: 5rem
            }

            to {
                bottom: 40rem;
                opacity: 0
            }
        }

        .bg__item_1 {background-image: url(../images/girl1.jpg)}
        .bg__item_2 {background-image: url(../images/girl2.jpg)}

        .btnbox {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .btn {
            width: 100%;
            height: 5.5rem;
            line-height: 5.5rem;
            padding: 0 2rem;
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 1.6rem;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            border-radius: 5rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .4), inset 0 2px 2px hsla(0, 0%, 100%, .2);
            cursor: pointer
        }

        .btn--primary {
            background: #18c658
        }

        .btn--primary:hover {
            background: #15af4e;
            box-shadow: 0 2px 6px rgba(0, 0, 0, .3)
        }

        .btn--primary:active {
            background: #129944;
            box-shadow: none
        }

        .btn--accent {
            background: #e01f62;
            background-image: linear-gradient(#118f40, #18c658)
        }

        .btn--accent:hover {
            background-image: linear-gradient(#e01f62, #aa184a);
            box-shadow: 0 2px 6px rgba(0, 0, 0, .3)
        }

        .btn--accent:active {
            background: #aa184a;
            box-shadow: none
        }

        .btn--round {
            padding: 0;
            box-shadow: none;
            width: 5.5rem;
            height: 5.5rem;
            background-image: linear-gradient(90deg, #fc1515, #c713b3);
            font-size: 2.4rem;
            line-height: 6rem;
            text-align: center
        }

        .stepbox {
            max-width: 700px;
            position: absolute;
            left: 50%;
            bottom: 0;
            -webkit-transform: translate(-50%);
            transform: translate(-50%)
        }

        .step,
        .stepbox {
            width: 100%;
            height: 100%
        }

        .step {
            color: #fff;
            display: none;
            padding: 2rem 1.5rem 4rem
        }

        .step:first-child {
            display: block
        }

        .step:first-child .step__header .wrapp {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap
        }

        .step:first-child .step__body p {
            text-align: center
        }

        .step:first-child .step__footer p {
            position: relative;
            margin-left: 1rem
        }

        .step__inner {
            width: 100%;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            /* display: flex; */
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end
        }

        .step__header {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            justify-self: flex-start;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: start
        }

        .step__header p {
            font-size: 1.4rem
        }

        .step__header .status {
            text-align: center
        }

        .step__header .status p {
            display: inline-block;
            background: hsla(0, 0%, 100%, .2);
            padding: .5rem
        }

        .step__header .status .live {
            border-radius: 10rem 0 0 10rem
        }

        .step__header .status .live span:first-child {
            margin: 0 .5rem
        }

        .step__header .status .followers {
            border-radius: 0 10rem 10rem 0
        }

        .step__header .status .followers span:last-child {
            margin: 0 .5rem
        }

        .step__header .tools a {
            color: #fff
        }

        .step__header .tools a:first-child {
            margin-right: 2rem
        }

        .step__body {
            margin-bottom: 3rem
        }

        .step__body h1,
        .step__body h2,
        .step__body h6,
        .step__body li,
        .step__body p {
            text-shadow: 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000
        }

        .step__body h1,
        .step__body h2,
        .step__body h6 {
            margin-bottom: 1rem
        }

        .step__body h1,
        .step__body h2 {
            text-align: center
        }

        .step__body p {
            text-align: justify;
            text-indent: 1rem
        }

        .step__body ul {
            list-style-type: circle;
            margin-left: 2rem
        }

        .step__body ul li {
            margin-bottom: 1rem;
            font-size: 1.8rem
        }

        .bg {
            position: fixed !important
        }

        .bg,
        .bg:after {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0
        }

        .bg:after {
            content: "";
            display: block;
            position: fixed;
            background: rgba(0, 0, 0, .4)
        }

        .bg__item {
            display: none;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0
        }

        .bg__item.active {
            display: block
        }

        @media (min-width:320px) and (max-width:360px) {
            .step__body ul li {
                font-size: 1.6rem
            }
        }

        @media (min-width:360px) {
            html {
                font-size: 11px
            }
        }

        @media (min-width:768px) {
            html {
                font-size: 15px
            }
        }